css

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: f4f4f4;
    text-align: center;
}

header {
    background-color: #333;
    color:white;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para as páginas das distribuições */

.logo-distro {
    width: 150px;
    display: block;
    margin: 20px auto;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos específicos para o Ubuntu */
body {
    background-color: #f4f4f4;
}

h1 {
    color: #E95420; /* Cor oficial do Ubuntu */
}